body{
    background-image: url("https://media.tenor.com/-sazR0Z_pB8AAAAC/horusultra-vaporwave.gif");
    height: 100%;
width: 100%;
background-color: teal;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
overflow-y: scroll;
overflow-x:hidden;

}

#titolo
{
    margin: 0 auto;
    color: white;
    font-size: 50pt;
    border: 6px double white;
    font-family: 'VCR OSD Mono', sans-serif;
    font-weight: normal;
    text-align: center;
}

#profilo
{
        font-weight:bolder;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-120%,-55%);
        height: 600px;
}

#tel
{
        top:50%;
        left:50%;
        transform: translate(10%,95%);
        width: 50%;
}

#indirizzo
{
        font-weight:bolder;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-120%,160%);
        height: 600px;
}

#umano
{
        font-weight:bolder;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(15%,50%);
        height: 600px;
}

#civica
{
    font-weight:bolder;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-120%,380%);
        height: 600px;
}

#pcto
{
    font-weight:bolder;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(10%,270%);
        height: 600px;
}

#imgEm
{
    font-weight:bolder;
    position:absolute;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(50%,-50%);
    height: 600px;
}

#cel
{
        top:50%;
        left:50%;
        transform: translate(120%,160%);
        width: 50%;
        height: 50%;
}


#img
{
    text-align: center;
    font-family: 'VCR OSD Mono', sans-serif;
    font-style: oblique;
}

#cash
{
        top:40%;
        left:50%;
        transform: translate(119%,200%);
        width: 50%;
        height: 50%;
}

#tv
{
    padding-top: 40px;
        top:40%;
        left:50%;
        transform: translate(15%,160%);
        width: 50%;
        height: 50%;
}


.par
{
    padding-left: 30px;
    padding-right: 30px;
}
